In [20]:
# Import standard libraries
import pandas as pd
import numpy as np
import sys

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


sys.path.append('../src') 

from utils.data_loader import load_data

In [74]:
df=load_data("../data/MachineLearningRating_v3.txt",delimiter="|")

d:\projects\TenAcademy\week3\KAIM-WEEK-3\notebooks\../src\utils\data_loader.py:15: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, delimiter=delimiter)

Data loaded successfully from ../data/MachineLearningRating_v3.txt

1. Data Understanding

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

1.2 DataType Rreview

From df.info() output:
Most numeric fields (int64, float64) look appropriate.
A few fields need conversion from object to proper types.
Some object fields are actually dates, booleans, or categoricals.

1.2.1 Convert Date Column

In [47]:
df["TransactionMonth"]

0          2015-03-01 00:00:00
1          2015-05-01 00:00:00
2          2015-07-01 00:00:00
3          2015-05-01 00:00:00
4          2015-07-01 00:00:00
                  ...
1000093    2015-04-01 00:00:00
1000094    2015-06-01 00:00:00
1000095    2015-08-01 00:00:00
1000096    2014-07-01 00:00:00
1000097    2015-02-01 00:00:00
Name: TransactionMonth, Length: 1000098, dtype: object

In [76]:
df["TransactionMonth"] = pd.to_datetime(df["TransactionMonth"], errors='coerce')

1.2.2 Convert VehicleIntroDate to datetime

In [49]:
print(df["VehicleIntroDate"])

0                          6/2002
1                          6/2002
2                          6/2002
3                          6/2002
4                          6/2002
                    ...
1000093    2013/01/01 12:00:00 AM
1000094    2013/01/01 12:00:00 AM
1000095    2013/01/01 12:00:00 AM
1000096    2013/01/01 12:00:00 AM
1000097    2013/01/01 12:00:00 AM
Name: VehicleIntroDate, Length: 1000098, dtype: object

In [77]:
from utils.clean_data import clean_vehicle_intro_date

df["VehicleIntroDate"] = df["VehicleIntroDate"].apply(clean_vehicle_intro_date)

In [51]:
df["VehicleIntroDate"]

0         2002-06-01
1         2002-06-01
2         2002-06-01
3         2002-06-01
4         2002-06-01
             ...
1000093   2013-01-01
1000094   2013-01-01
1000095   2013-01-01
1000096   2013-01-01
1000097   2013-01-01
Name: VehicleIntroDate, Length: 1000098, dtype: datetime64[ns]

1.3 Convert to Boolean

In [78]:
for col in ["AlarmImmobiliser", "TrackingDevice", "CapitalOutstanding", "NewVehicle", "WrittenOff", "Rebuilt", "Converted"]:
    print(f"\nUnique values in '{col}':")
    print(df[col].unique())

Unique values in 'AlarmImmobiliser':
['Yes' 'No']

Unique values in 'TrackingDevice':
['No' 'Yes']

Unique values in 'CapitalOutstanding':
[119300 161000 52700 ... 312900.0 13700.0 184500.0]

Unique values in 'NewVehicle':
['More than 6 months' nan 'Less than 6 months']

Unique values in 'WrittenOff':
[nan 'No' 'Yes']

Unique values in 'Rebuilt':
[nan 'No' 'Yes']

Unique values in 'Converted':
[nan 'No' 'Yes']

In [79]:
yes_no_mapping = {"Yes": True, "No": False}

for col in ["AlarmImmobiliser", "TrackingDevice", "WrittenOff", "Rebuilt", "Converted"]:
    df[col] = df[col].map(yes_no_mapping)

Convert to category

In [80]:
cat_cols = [
    "Province", "VehicleType", "make", "Model", "bodytype",
    "CoverType", "CoverCategory", "CoverGroup", "Product",
    "StatutoryClass", "StatutoryRiskType", "TermFrequency", "Section"
]


for col in cat_cols:
    print(f"\nColumn: {col}")
    print(f"Unique values ({df[col].nunique()}):")
    print(df[col].unique()[:10])  # Show first 10 unique values to avoid flooding

Column: Province
Unique values (9):
['Gauteng' 'KwaZulu-Natal' 'Mpumalanga' 'Eastern Cape' 'Western Cape'
 'Limpopo' 'North West' 'Free State' 'Northern Cape']

Column: VehicleType
Unique values (5):
['Passenger Vehicle' 'Medium Commercial' 'Heavy Commercial'
 'Light Commercial' 'Bus' nan]

Column: make
Unique values (46):
['MERCEDES-BENZ' 'VOLKSWAGEN' 'RENAULT' 'FORD' 'BMW' 'AUDI' 'VOLVO'
 'PROTON' 'TOYOTA' 'NISSAN/DATSUN                      ']

Column: Model
Unique values (411):
['E 240' 'TOUAREG 5.0 V10 TDI TIP' 'SCENIC 1.9 dCi EXPRESSION'
 'TERRITORY 4.0i GHIA AWD A/T' '320i (E90)' 'FIESTA 1.6 SPORT 5Dr'
 'A4 1.8T ATTRACTION (B8)' 'S40 T5 A/T' 'SAVVY 1.2 SPORT' 'GEN 2 1.6 GL']

Column: bodytype
Unique values (13):
['S/D' 'SUV' 'MPV' 'H/B' 'P/V' 'B/S' 'S/W' 'C/C' 'D/C' 'D/S']

Column: CoverType
Unique values (22):
['Windscreen' 'Own Damage' 'Third Party' 'Passenger Liability'
 'Signage and Vehicle Wraps' 'Keys and Alarms'
 'Cleaning and Removal of Accident Debris' 'Emergency Charges'
 'Credit Protection' 'Roadside Assistance']

Column: CoverCategory
Unique values (28):
['Windscreen' 'Own damage' 'Third Party' 'Passenger Liability'
 'Signage and Vehicle Wraps' 'Keys and Alarms'
 'Cleaning and Removal of Accident Debris' 'Emergency Charges'
 'Credit Protection' 'Roadside Assistance']

Column: CoverGroup
Unique values (14):
['Comprehensive - Taxi' 'Credit Protection' 'Accidental Death'
 'Basic Excess Waiver' 'Income Protector' 'Deposit Cover'
 'Standalone passenger liability' 'Baggage/Luggage'
 'Asset Value Preserver' 'Cash Takings']

Column: Product
Unique values (4):
['Mobility Metered Taxis: Monthly' 'Mobility Commercial Cover: Monthly'
 'Standalone Passenger Liability' 'Bridge Taxi Finance: Monthly']

Column: StatutoryClass
Unique values (1):
['Commercial']

Column: StatutoryRiskType
Unique values (1):
['IFRS Constant']

Column: TermFrequency
Unique values (2):
['Monthly' 'Annual']

Column: Section
Unique values (5):
['Motor Comprehensive' 'Credit Protection' 'Optional Extended Covers'
 'Standalone passenger liability'
 'Third party or third party, fire and theft only']

In [81]:
for col in cat_cols:
    df[col] = df[col].astype("category")

Let's check the number of unique values in other object cols and see if we can convert it to category type

In [82]:
# List object dtype columns
object_cols = df.select_dtypes(include='object').columns.tolist()

# For each, get unique value counts
for col in object_cols:
    unique_count = df[col].nunique(dropna=True)
    total_count = len(df)
    print(f"Column: {col}, Unique values: {unique_count}, Percent unique: {unique_count/total_count:.4%}")

Column: Citizenship, Unique values: 4, Percent unique: 0.0004%
Column: LegalType, Unique values: 6, Percent unique: 0.0006%
Column: Title, Unique values: 5, Percent unique: 0.0005%
Column: Language, Unique values: 1, Percent unique: 0.0001%
Column: Bank, Unique values: 11, Percent unique: 0.0011%
Column: AccountType, Unique values: 3, Percent unique: 0.0003%
Column: MaritalStatus, Unique values: 3, Percent unique: 0.0003%
Column: Gender, Unique values: 3, Percent unique: 0.0003%
Column: Country, Unique values: 1, Percent unique: 0.0001%
Column: MainCrestaZone, Unique values: 16, Percent unique: 0.0016%
Column: SubCrestaZone, Unique values: 45, Percent unique: 0.0045%
Column: ItemType, Unique values: 1, Percent unique: 0.0001%
Column: CapitalOutstanding, Unique values: 1011, Percent unique: 0.1011%
Column: NewVehicle, Unique values: 2, Percent unique: 0.0002%
Column: WrittenOff, Unique values: 2, Percent unique: 0.0002%
Column: Rebuilt, Unique values: 2, Percent unique: 0.0002%
Column: Converted, Unique values: 2, Percent unique: 0.0002%
Column: CrossBorder, Unique values: 1, Percent unique: 0.0001%
Column: ExcessSelected, Unique values: 13, Percent unique: 0.0013%

In [83]:
cols_to_cat = [
    "Citizenship", "LegalType", "Title",  "Bank", "AccountType",
    "MaritalStatus", "Gender",  "MainCrestaZone", "SubCrestaZone",
   "NewVehicle", "WrittenOff", "Rebuilt", "Converted",
    "CrossBorder", "ExcessSelected"
]

for col in cols_to_cat:
    df[col] = df[col].astype('category')

 Clean and convert CapitalOutstanding to numeric

In [84]:
df['CapitalOutstanding'] = pd.to_numeric(df['CapitalOutstanding'], errors='coerce')
print(f"CapitalOutstanding dtype after conversion: {df['CapitalOutstanding'].dtype}")

CapitalOutstanding dtype after conversion: float64

In [59]:
df.dtypes

UnderwrittenCoverID                  int64
PolicyID                             int64
TransactionMonth            datetime64[ns]
IsVATRegistered                       bool
Citizenship                       category
LegalType                         category
Title                             category
Language                            object
Bank                              category
AccountType                       category
MaritalStatus                     category
Gender                            category
Country                             object
Province                          category
PostalCode                           int64
MainCrestaZone                    category
SubCrestaZone                     category
ItemType                            object
mmcode                             float64
VehicleType                       category
RegistrationYear                     int64
make                              category
Model                             category
Cylinders                          float64
cubiccapacity                      float64
kilowatts                          float64
bodytype                          category
NumberOfDoors                      float64
VehicleIntroDate            datetime64[ns]
CustomValueEstimate                float64
AlarmImmobiliser                      bool
TrackingDevice                        bool
CapitalOutstanding                 float64
NewVehicle                        category
WrittenOff                        category
Rebuilt                           category
Converted                         category
CrossBorder                       category
NumberOfVehiclesInFleet            float64
SumInsured                         float64
TermFrequency                     category
CalculatedPremiumPerTerm           float64
ExcessSelected                    category
CoverCategory                     category
CoverType                         category
CoverGroup                        category
Section                           category
Product                           category
StatutoryClass                    category
StatutoryRiskType                 category
TotalPremium                       float64
TotalClaims                        float64
dtype: object

2. Missing Values Check

In [85]:
missing = df.isnull().sum()
missing_percent = (missing / len(df)) * 100
missing_df = pd.DataFrame({
    "Missing Count": missing,
    "Missing Percentage": missing_percent
}).sort_values(by="Missing Percentage", ascending=False)

print(missing_df[missing_df["Missing Count"] > 0])

                         Missing Count  Missing Percentage
NumberOfVehiclesInFleet        1000098          100.000000
CrossBorder                     999400           99.930207
CustomValueEstimate             779642           77.956560
Rebuilt                         641901           64.183810
Converted                       641901           64.183810
WrittenOff                      641901           64.183810
NewVehicle                      153295           15.327998
Bank                            145961           14.594670
AccountType                      40232            4.022806
Gender                            9536            0.953507
MaritalStatus                     8259            0.825819
VehicleType                        552            0.055195
make                               552            0.055195
mmcode                             552            0.055195
Model                              552            0.055195
Cylinders                          552            0.055195
bodytype                           552            0.055195
kilowatts                          552            0.055195
NumberOfDoors                      552            0.055195
VehicleIntroDate                   552            0.055195
cubiccapacity                      552            0.055195
CapitalOutstanding                 322            0.032197

1. Drop cols with hight percentage of missing values

In [86]:
# Drop completely empty or near-empty columns
df.drop(columns=["NumberOfVehiclesInFleet", "CrossBorder",'CustomValueEstimate'], inplace=True)

2. Categorical Columns with few missing (≤15%)

In [87]:
# fill with 'Unknown'
cat_fill_unknown = ['Bank', 'AccountType', 'NewVehicle']

for col in cat_fill_unknown:
    if 'Unknown' not in df[col].cat.categories:
        df[col] = df[col].cat.add_categories('Unknown')
    df[col] = df[col].fillna('Unknown')

3. Yes/No columns with many missing values

In [88]:
for col in ['Converted', 'WrittenOff', 'Rebuilt']:
    df[col] = df[col].fillna(False)

4.  Impute with mode — low-miss categorical

In [89]:
for col in ['Gender', 'MaritalStatus']:
    df[col] = df[col].fillna(df[col].mode()[0])

5. Drop rows — small % of data

In [90]:
df.dropna(subset=[
    'make', 'Model', 'mmcode', 'Cylinders', 'cubiccapacity',
    'kilowatts', 'bodytype', 'VehicleType', 'VehicleIntroDate',
    'NumberOfDoors'
], inplace=True)

6. Fill missing values in numeric with 0

In [92]:
df['CapitalOutstanding'] = df['CapitalOutstanding'].fillna(0)

In [93]:
df.isna().sum()

UnderwrittenCoverID         0
PolicyID                    0
TransactionMonth            0
IsVATRegistered             0
Citizenship                 0
LegalType                   0
Title                       0
Language                    0
Bank                        0
AccountType                 0
MaritalStatus               0
Gender                      0
Country                     0
Province                    0
PostalCode                  0
MainCrestaZone              0
SubCrestaZone               0
ItemType                    0
mmcode                      0
VehicleType                 0
RegistrationYear            0
make                        0
Model                       0
Cylinders                   0
cubiccapacity               0
kilowatts                   0
bodytype                    0
NumberOfDoors               0
VehicleIntroDate            0
AlarmImmobiliser            0
TrackingDevice              0
CapitalOutstanding          0
NewVehicle                  0
WrittenOff                  0
Rebuilt                     0
Converted                   0
SumInsured                  0
TermFrequency               0
CalculatedPremiumPerTerm    0
ExcessSelected              0
CoverCategory               0
CoverType                   0
CoverGroup                  0
Section                     0
Product                     0
StatutoryClass              0
StatutoryRiskType           0
TotalPremium                0
TotalClaims                 0
dtype: int64

3. Check for duplicate rows

In [95]:
print("Duplicates:", df.duplicated().sum())

Duplicates: 74

In [96]:
df = df.drop_duplicates()

# Confirm duplicates are removed
print(f"Number of duplicate rows after removal: {df.duplicated().sum()}")

Number of duplicate rows after removal: 0

## EDA Sumary

I performed exploratory data analysis on the car insurance claims dataset to understand the data distribution and quality. I examined the data types and unique values, identifying categorical, numerical, and boolean features. Missing data analysis revealed some columns with very high missingness, such as CustomValueEstimate, which I dropped to maintain data integrity. For columns with moderate missing values, I applied sensible imputations — for example, filling boolean flags with False and categorical variables with a new category "Unknown". This cleaning step ensures the dataset is ready for further analysis and modeling while preserving meaningful information. I have also removed 74 duplicate values

In [ ]:
df.describe()

,UnderwrittenCoverID,PolicyID,TransactionMonth,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,VehicleIntroDate,CustomValueEstimate,CapitalOutstanding,NumberOfVehiclesInFleet,SumInsured,CalculatedPremiumPerTerm,TotalPremium,TotalClaims
count,1.000098e+06,1.000098e+06,1000098,1.000098e+06,9.995460e+05,1.000098e+06,999546.000000,999546.000000,999546.000000,999546.000000,999546,2.204560e+05,999776.000000,0.0,1.000098e+06,1.000098e+06,1.000098e+06,1.000098e+06
mean,1.048175e+05,7.956682e+03,2015-02-28 10:49:29.147423744,3.020601e+03,5.487770e+07,2.010225e+03,4.046642,2466.743258,97.207919,4.019250,2008-04-20 17:04:04.990425600,2.255311e+05,52605.220796,NaN,6.041727e+05,1.178757e+02,6.190550e+01,6.486119e+01
min,1.000000e+00,1.400000e+01,2013-10-01 00:00:00,1.000000e+00,4.041200e+06,1.987000e+03,0.000000,0.000000,0.000000,0.000000,1977-10-01 00:00:00,2.000000e+04,-2.000000,NaN,1.000000e-02,0.000000e+00,-7.825768e+02,-1.200241e+04
25%,5.514300e+04,4.500000e+03,2015-01-01 00:00:00,8.270000e+02,6.005692e+07,2.008000e+03,4.000000,2237.000000,75.000000,4.000000,2007-11-01 00:00:00,1.350000e+05,0.000000,NaN,5.000000e+03,3.224800e+00,0.000000e+00,0.000000e+00
50%,9.408300e+04,7.071000e+03,2015-04-01 00:00:00,2.000000e+03,6.005842e+07,2.011000e+03,4.000000,2694.000000,111.000000,4.000000,2010-10-01 00:00:00,2.200000e+05,0.000000,NaN,7.500000e+03,8.436900e+00,2.178333e+00,0.000000e+00
75%,1.391900e+05,1.107700e+04,2015-06-01 00:00:00,4.180000e+03,6.005842e+07,2.013000e+03,4.000000,2694.000000,111.000000,4.000000,2012-04-01 00:00:00,2.800000e+05,0.000000,NaN,2.500000e+05,9.000000e+01,2.192982e+01,0.000000e+00
max,3.011750e+05,2.324600e+04,2015-08-01 00:00:00,9.870000e+03,6.506535e+07,2.015000e+03,10.000000,12880.000000,309.000000,6.000000,2014-09-01 00:00:00,2.655000e+07,700000.000000,NaN,1.263620e+07,7.442217e+04,6.528260e+04,3.930921e+05
std,6.329371e+04,5.290039e+03,NaN,2.649854e+03,1.360381e+07,3.261391e+00,0.294020,442.800640,19.393256,0.468314,NaN,5.645157e+05,111417.190825,NaN,1.508332e+06,3.997017e+02,2.302845e+02,2.384075e+03